<div class="section">
  <div class="title is-3">成績追加</div>
  <div class="subtitle is-5">成績を登録できます</div>
</div>
<div class="columns">
  <div class="is-two-thirds">
    <%= form_tag("/score/update") do %>
      <div class="section">
        <div class="title is-5">ルール</div>
        <input class="input is-info" type="text" name="rule">
        <br/><br/>

        <div class="title is-5">ステージ</div>
        <input class="input is-info" type="text" name="stage">
        <br/><br/>

        <div class="title is-5">ブキ</div>
        <input class="input is-info" type="text" name="weapon">
        <br/><br/>

        <div class="title is-5">ガチパワー</div>
        <input class="input  is-info" type="text" name="power">
        <br/><br/>

        <div class="title is-5">勝敗</div>
        <input type="input" name="buttle">
        <br/><br/>

        <input type="submit" class="button" value="登録">
      </div>
    <% end %>
    </div>
  </div>


