<div class="section">
  <div class="title is-3">成績一覧</div>
  <div class="subtitle is-5">成績をみることができます</div>
</div>
<div class="section">
  <table class="table is-fullwidth">
    <thead>
    <tr>
      <th>ルール</th>
      <th>ステージ</th>
      <th>ブキ</th>
      <th>ガチパワー</th>
      <th>勝敗</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>ガチヤグラ</td>
      <td>海女美術大学</td>
      <td>スクリュースロッシャー</td>
      <td>1900</td>
      <td>勝ち</td>
    </tr>
    </tbody>
  </table>
</div>