<div class="section">
  <div class="title is-3">成績追加</div>
  <div class="subtitle is-5">成績を登録できます</div>
</div>
<div class="columns">
  <div class="is-two-thirds">
    <%= form_tag("/score/create") do %>
      <div class="section">
        <div class="title is-5">ルール</div>
        <div class="control">
          <label class="radio">
            <input type="radio" name="rule" value="ガチヤグラ">
            ガチヤグラ
          </label>
          <label class="radio">
            <input type="radio" name="rule" value="ガチエリア">
            ガチエリア
          </label>
          <label class="radio">
            <input type="radio" name="rule" value="ガチホコ">
            ガチホコ
          </label>
          <label class="radio">
            <input type="radio" name="rule" value="ナワバリ">
            ナワバリ
          </label>
        </div>
        <br/>
        <div>
          <div class="title is-5">ステージ</div>
          <input class="input  is-info" type="text" name="stage">
        </div>
        <br/>
        <div>
          <div class="title is-5">ブキ</div>
          <input class="input  is-info" type="text" name="weapon">
        </div>
        <br/>
        <div>
          <div class="title is-5">ガチパワー</div>
          <input class="input  is-info" type="text" name="power">
        </div>
        <br/>
        <div class="title is-5">勝敗</div>
        <div class="control">
          <label class="radio">
            <input type="radio" name="buttle" value="勝ち">
            勝ち
          </label>
          <label class="radio">
            <input type="radio" name="buttle" value="負け">
            負け
          </label>
        </div>
        <br/>
        <input type="submit" class="button" value="登録">
    <% end %>
    </div>
  </div>
</div>


